<section class='home' ng-animate>
    <div class="bottomH">
        <div class="promos">
          <a href="#/promos" class="promos">Promos</a>
        </div>
        <a href="#/near" class="near">Encontrar uno cercano <i class="fa fa-map-marker"></i></a>
        <div class="here">
          <span><i class="fa fa-map-marker"></i> Barranquilla</span>
          <span>Tú estas aquí</span>
        </div>
    </div>
    <div class="hoursContainer">
        <h3>¿Por cuantas horas necesita un motel?</h3>
        <div class="hours">
            <a href="">1 hora</a>
            <a href="">2 horas</a>
            <a href="">4 horas</a>
            <a href="">Todo el d&iacute;a</a>
        </div>
    </div>
    <div class="gallery">
        <a href="" class="populares">M&aacute;s populares</a>
        <div class="price">
            <span>$60 M</span>
            <span>Por Noche</span>
        </div>
        <div class="bottomG">
            <h4>
                Lerei Motel
            </h4>
            <span>
               <i class="fa fa-star-o"></i> 89% Ratings
            </span>
            <span>
               <i class="fa fa-map-marker"></i> 1.7 km
            </span>
        </div>
    </div>
</section>
              <!-- <br>
              <br>
              <br>
              <br>
         
            <div ng-controller='search'>

                 <div class='to-center'><button>Encontrar cercanos ahora</button></div>

                 <br>
                 <br>
                 <br>

                 <form class='to-center'>

                 	 <input type='text' ng-model='city' placeholder='Ingresa una ciudad'/>
                 </form>
                 <br>
                 <br>
                 <br>
                 <br>
                 <table>
                 	<tr>
                 		<td colspan='5'>
                 			<p class='tlc'>
                 			Por cuantas horas necesita un motel?
                 			<br>
                 			<br>
                 			<br>
                 			
              
                 			</p>
                 		</td>
                 	</tr>
                 	<tr>
            
                 		<td><p class='tlc'><a href='#'>1 hora</a></p></td>
                 		<td><p class='tlc'><a href='#'>2 horas</a></p></td>
                 		<td><p class='tlc'><a href='#'>4 horas</a></p></td>
                 		<td><p class='tlc'><a href='#'>8 horas</a></p></td>
                 		<td><p class='tlc'><a href='#'>Todo el dia</a></p></td>

                 	</tr>
                 </table>

                 <br>
                 <br>
                 <br>
                 <br>

                 <table>
                 	 <tr>
                 	 	 <td>
                 	 	 	<p class='tlc'>
                 	 	 		Populares
                 	 	 	</p>
                 	 	 </td>
                 	 </tr>
                 	 <tr>
                 	 	<td>
                 	 		<p class='tlc'>
                 	 		<br>
                 	 		<br>
                 	 			Slider Aqui...
                 	 		</p>
                 	 	</td>
                 	 </tr>
                 </table> -->

              </section>