<section class='home animated' ng-controller='searchCtrl' ng-animate>
    
    <div class="bottomH"  style="background: url(assets/img/header.jpg) no-repeat; width: 100%; background-size: cover !important;">
        <div class="wrapper">
   <br>
 <br>
 <br>

        <a href="#/near" class="to-center near light" >Encontrar uno cercano &nbsp;<i class="fa fa-map-marker"></i></a>
  
        <br>
        <br>
        <br>
        <br>
        <div class="here" >
          <p>Tú estas aquí<br>
          <i class="fa fa-map-marker"></i> {{city}}
          </p>
        </div>
      </div>
    </div>

    <div class="hoursContainer">
        <div class="wrapper">
        <h3>¿Por cuantas horas necesita un motel?</h3>
        <div class="hours">
           <table class='to-center'>
           <tbody>
               <tr>
                   <td class='tlc white light'><a href="#">1 hora</a></td>
                   <td class='tlc white light'><a href="#">2 hora</a></td>
                   <td class='tlc white light'><a href="#">4 hora</a></td>
                   <td class='tlc white light'><a href="#">Todo el d&iacute;a</a></td>
               </tr>
               </tbody>
           </table>
        </div>
       </div>
    </div>
    <div class="gallery">
        <div class="wrapper">
        <a href="" class="populares">M&aacute;s populares</a>

      <div class="gal-item">
        <div class="price">
            <span >$60 M</span>
            <span class='light'>Por Noche</span>
        </div>
        <div class="bottomG">
            <h4>
                Lerei Motel
            </h4>
            <span class='light'>
               <div class="stars" data-stars=4 data-star></div>
               &nbsp;
               89 Revisiones
            </span>
            <span class='light'>
               <i class="fa fa-map-marker"></i> 1.7 km
            </span>
        </div>
      </div>
      
    </div>
    </div>
</section>
              <!-- <br>
              <br>
              <br>
              <br>
         
            <div ng-controller='search'>

                 <div class='to-center'><button>Encontrar cercanos ahora</button></div>

                 <br>
                 <br>
                 <br>

                 <form class='to-center'>

                 	 <input type='text' ng-model='city' placeholder='Ingresa una ciudad'/>
                 </form>
                 <br>
                 <br>
                 <br>
                 <br>
                 <table>
                 	<tr>
                 		<td colspan='5'>
                 			<p class='tlc'>
                 			Por cuantas horas necesita un motel?
                 			<br>
                 			<br>
                 			<br>
                 			
              
                 			</p>
                 		</td>
                 	</tr>
                 	<tr>
            
                 		<td><p class='tlc'><a href='#'>1 hora</a></p></td>
                 		<td><p class='tlc'><a href='#'>2 horas</a></p></td>
                 		<td><p class='tlc'><a href='#'>4 horas</a></p></td>
                 		<td><p class='tlc'><a href='#'>8 horas</a></p></td>
                 		<td><p class='tlc'><a href='#'>Todo el dia</a></p></td>

                 	</tr>
                 </table>

                 <br>
                 <br>
                 <br>
                 <br>

                 <table>
                 	 <tr>
                 	 	 <td>
                 	 	 	<p class='tlc'>
                 	 	 		Populares
                 	 	 	</p>
                 	 	 </td>
                 	 </tr>
                 	 <tr>
                 	 	<td>
                 	 		<p class='tlc'>
                 	 		<br>
                 	 		<br>
                 	 			Slider Aqui...
                 	 		</p>
                 	 	</td>
                 	 </tr>
                 </table> -->

              </section>