<section class='home wrapper' ng-animate>
              <br>
              <br>
              <br>
              <br>
         
              <div ng-controller='search'>

                 <div class='to-center'><button>Encontrar cercanos ahora</button></div>

                 <br>
                 <br>
                 <br>

                 <form class='to-center'>

                 	 <input type='text' ng-model='city' placeholder='Ingresa una ciudad'/>
                 </form>
                 <br>
                 <br>
                 <br>
                 <br>
                 <table>
                 	<tr>
                 		<td colspan='5'>
                 			<p class='tlc'>
                 			Por cuantas horas necesita un motel?
                 			<br>
                 			<br>
                 			<br>
                 			
              
                 			</p>
                 		</td>
                 	</tr>
                 	<tr>
            
                 		<td><p class='tlc'><a href='#'>1 hora</a></p></td>
                 		<td><p class='tlc'><a href='#'>2 horas</a></p></td>
                 		<td><p class='tlc'><a href='#'>4 horas</a></p></td>
                 		<td><p class='tlc'><a href='#'>8 horas</a></p></td>
                 		<td><p class='tlc'><a href='#'>Todo el dia</a></p></td>

                 	</tr>
                 </table>

                 <br>
                 <br>
                 <br>
                 <br>

                 <table>
                 	 <tr>
                 	 	 <td>
                 	 	 	<p class='tlc'>
                 	 	 		Populares
                 	 	 	</p>
                 	 	 </td>
                 	 </tr>
                 	 <tr>
                 	 	<td>
                 	 		<p class='tlc'>
                 	 		<br>
                 	 		<br>
                 	 			Slider Aqui...
                 	 		</p>
                 	 	</td>
                 	 </tr>
                 </table>

              </section>