 <section class='animated promos' ng-animate>
 	  <!-- <br>
       <br>
 	  <br> -->
       <div class="promo" style="background: url(assets/img/motel.jpg) no-repeat;background-size:cover">
            <div class="price">
                 <span >$60 M</span>
                 <span class='light'>Por Noche</span>
             </div>
             <div class="bottomG">
                 <h4>
                     Lerei Motel
                 </h4>
                 <span class='light'>
                    <div class="stars" data-stars=4 data-star></div>
                    &nbsp;
                    89 Revisiones
                 </span>
                 <span class='light'>
                    <i class="fa fa-map-marker"></i> 1.7 km
                 </span>
             </div>
             <div class="rightG">
                  <span class="item orange">LOQUESHEA</span>
                  <span class="item lightOrange">FREECONDON</span>
             </div>
        </div>
        <div class="promo" style="background: url(assets/img/motel.jpg) no-repeat;background-size:cover">
            <div class="price">
                 <span >$60 M</span>
                 <span class='light'>Por Noche</span>
             </div>
             <div class="bottomG">
                 <h4>
                     Lerei Motel
                 </h4>
                 <span class='light'>
                    <div class="stars" data-stars=4 data-star></div>
                    &nbsp;
                    89 Revisiones
                 </span>
                 <span class='light'>
                    <i class="fa fa-map-marker"></i> 1.7 km
                 </span>
             </div>
             <div class="rightG">
                  <span class="item orange">LOQUESHEA</span>
                  <span class="item lightOrange">FREECONDON</span>
             </div>
        </div>
        <div class="promo" style="background: url(assets/img/motel.jpg) no-repeat;background-size:cover">
            <div class="price">
                 <span >$60 M</span>
                 <span class='light'>Por Noche</span>
             </div>
             <div class="bottomG">
                 <h4>
                     Lerei Motel
                 </h4>
                 <span class='light'>
                    <div class="stars" data-stars=4 data-star></div>
                    &nbsp;
                    89 Revisiones
                 </span>
                 <span class='light'>
                    <i class="fa fa-map-marker"></i> 1.7 km
                 </span>
             </div>
             <div class="rightG">
                  <span class="item orange">LOQUESHEA</span>
                  <span class="item lightOrange">FREECONDON</span>
             </div>
        </div>
        <div class="promo" style="background: url(assets/img/motel.jpg) no-repeat;background-size:cover">
            <div class="price">
                 <span >$60 M</span>
                 <span class='light'>Por Noche</span>
             </div>
             <div class="bottomG">
                 <h4>
                     Lerei Motel
                 </h4>
                 <span class='light'>
                    <div class="stars" data-stars=4 data-star></div>
                    &nbsp;
                    89 Revisiones
                 </span>
                 <span class='light'>
                    <i class="fa fa-map-marker"></i> 1.7 km
                 </span>
             </div>
             <div class="rightG">
                  <span class="item orange">DUCHA</span>
                  <span class="item lightOrange">FREECONDON</span>
             </div>
        </div>
        <div class="promo" style="background: url(assets/img/motel.jpg) no-repeat;background-size:cover">
            <div class="price">
                 <span >$60 M</span>
                 <span class='light'>Por Noche</span>
             </div>
             <div class="bottomG">
                 <h4>
                     Lerei Motel
                 </h4>
                 <span class='light'>
                    <div class="stars" data-stars=4 data-star></div>
                    &nbsp;
                    89 Revisiones
                 </span>
                 <span class='light'>
                    <i class="fa fa-map-marker"></i> 1.7 km
                 </span>
             </div>
             <div class="rightG">
                  <span class="item lightOrange">LOQUESHEA</span>
             </div>
        </div>











 	   <!-- <table style='font-size:12px; width:100%;'>
 	      <tr class="promo-tr" style="background:url(assets/img/motel.jpg);">
 	      	<td style='width:40px'><img  width='40' alt='image' src='assets/img/motel.jpg'/></td>
 	      	<td>
 	      		<table style='width:100%;' >
 	      			<tr><td>Motel Passion</td></tr>
 	      			<tr><td>Ubicacion</td></tr>
 	      			<tr><td>***</td></tr>
 	      			<tr><td>1000 checkin</td></tr>
 	      		</table>
 	      	</td>
 	      	<td>
 	      		<table style='width:100%;' class='tlr'>
 	      			<tr><td>2 horas desde</td></tr>
 	      			<tr><td><strong>$20.0000</strong></td></tr>
 	      			<tr></tr>
 	      			<tr><td><button>Checkin ahora</button></td></tr>
 	      		  </table>
 	      	</td>
 	      </tr>
 	   </table>
 -->
 	
 </section>